/* 
    Created on : Mar 26, 2018, 5:08:57 PM
    Started on : Aug 18, 2018, 9:52:24 PM
    Author     : gene
*/

body, html{
        font-size: 2vw;
	font-family: Minimal;
	color: white;
        margin: 0px;
        
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

* {
    font-size: 100%;
    font-family: Minimal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

nav ul {
   
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li{
    list-style: none;
    margin-left: 3vw;
    float: left;
}


nav a {
    
    
    display: block;
    margin-bottom: 10px;
    padding-right: 3vw;

    
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: transparent;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}


/*=============mobile view==================*/
   
@media only screen and (max-width: 600px) {
/*==600 px or smaller===*/
    
    body {
        font-size: 4vw;
    }
 
    nav ul {
   
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: static;
}

nav li{
    list-style: none;
    margin-left: 3vw;
    float: left;
    
}


nav a {
    
    
    display: block;
    margin-bottom: 10px;
    padding-right: 3vw;

    
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: transparent;
    
    
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}
    
    
.title-container{
    
    
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    
}

.title-container span{
    text-transform: uppercase;
    display: block; 
    padding: 0;
    margin: 0;
}

.title{
    font-family: Minimal, initial;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 10px;
    position: relative;
    animation: text 5s 1;
    
}

.subtitle{
    font-size: 11px;
    color: #1f61a7;
}

@keyframes text{
    
    0%{
        color: black;
        letter-spacing: 10px
        margin-botom: -40pxpx;
        
    }
    30%{
        letter-spacing: 12px;
        margin-bottom: -40pxpx;
        font-weight: bold;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40pxpx;
        font-weight: 700;
    }
    

}

.pane-container {

    background-color: #7A7E81;
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: 100vw;
    margin-top: 10vw;
    padding-top: 20vw;
    padding-bottom: 20vw;  
}


.about-image{
    height: 10vw; 
    width: 10vw; 
    margin-top: 4vw;
    
    
}
 

.right-side{
    
    float: right;
    margin-top: 5vw;
    width: 100%;
    font-size: 3vw;
    

}



.portfolio-content {

    font-size: 3.3vw;
    background-color: transparent;
    display: inline-block;
    width: 100%;
    height: border-box;
}

img {
    width: 100%;
    height: auto;
}


.skill-container {
    
    width: 50%;
    line-height: 5vw;
    background-color: #7A7E81;
    background:rgba(0,0,0,0.5);
    color: white;
    margin-left: 25%;
    padding-bottom: 3vw;
    
}


.contact-container{
    width: 100%;
    background-color: #7A7E81;
    background:rgba(0,0,0,0.5);
    margin: 30px;
}



}

/*============end of mobile view==================*/

@media only screen and (min-width: 600px){

    /*== minimum of 600px and above ==*/
    
textarea{
	resize: vertical;
}

fieldset{
	border: 0;
	padding: 0;
	margin: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%;
}

*{
    box-sizing: border-box;
    transition: all ease-in-out 200ms;
    transition-delay: 500ms;
}



.header-container{
    
    
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: border-box;
    padding-top: 1vw;
    padding-left: 4vw;
    top: 0px;
}

.bg{

    background-image: url(../images/bg4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}


.main-container{
    
    width: 100%;
    background-color: white;
    color: white;
    
    
}


.title-container{
    
    
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    
}

.title-container span{
    text-transform: uppercase;
    display: block; 
    padding: 0;
    margin: 0;
}

.title{
    font-family: Minimal, initial;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 5s 1;
    
}

.subtitle{
    font-size: 30px;
    color: white;
}

@keyframes text{
    
    0%{
        color: black;
        letter-spacing: 15px
        margin-botom: -120px;
        
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -120px;
        font-weight: bold;
    }
    85%{
        letter-spacing: 12px;
        margin-bottom: -120px;
        font-weight: 700;
    }
    

}



.pane-container {

    background-color: #7A7E81;
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: auto;
    color: white;
    padding-top: 10vw;
    padding-bottom: 36vw;  
}


.about-image{

    height: 10vw; 
    width: 10vw; 
    margin-top: 5vw;
    margin-left: 15vw;
    float: left;
}
    
    
}

.right-side{
    
    
    font-size: 3vw;
    margin-top: 5vw;
    padding-right: 12vw;
    float: right;
    width: 50%;
}


.gap{ 
    height: 12vw;
}

.portfolio-container {

    
    background-color: transparent;
    display: inline-block;
    width: 100%;
    height: border-box;
    padding-top: 12vw;
}

.language-container {

    display: inline-block ;
    width: 30%;
    padding: 1rem;
    margin-left: 5vw;
    line-height: 3vw;
    background-color: #7A7E81;
    background:rgba(0,0,0,0.5);
    color: white;
    
    
}

.software-container {
    
    display: inline-block;
    width: 30%;
    padding: 1rem;
    margin-left: 10%;
    line-height: 3vw;
    background-color: #7A7E81;
    background:rgba(0,0,0,0.5);
    color: white;
    
}

.skill-container {
    
    width: 50%;
    line-height: 3vw;
    font-size: 2vw;
    background-color: #7A7E81;
    background:rgba(0,0,0,0.5);
    color: white;
    margin-left: 25%;
    padding-bottom: 3vw;
    
}


.contact-container{
    width: 100%;
    padding: 2vw;
    height: 50px;

}

.contact-icon{
    
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    
}

.contact-tag{
    
    margin-left: 43%;
    font-weight: 900;
    color: white;
    
}

.resume-container{
    width: 70%;
    line-height: 3vw;
    background-color: #7A7E81;
    background:rgba(0,0,0,0.5);
    margin-left: 15%;
    
}

.resume-image{
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 15%;
    margin-bottom: 10%;
}

.resume-content{
    text-align: center;
    line-height: 3vw;
    color: white;
    padding-bottom: 3vw;
}

.resume-right{
    width: 50%;
    line-height: 3vw;
    background-color: #7A7E81;
    background:rgba(0,0,0,0.5);
    color: white;
    margin-left: 25%;
    padding-bottom: 3vw;
    
}

